[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch FileManager %u
Icon=org.xfce.filemanager
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=inode/directory;x-scheme-handler/trash;
X-AppStream-Ignore=True
Name=File Manager
Name[pt]=Gestor de ficheiros
Comment=Browse the file system
Comment[pt]=Navegar no sistema de ficheiros
X-XFCE-Source=file:///usr/share/applications/xfce4-file-manager.desktop
