<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="CMake curses GUI (ccmake)"> <action name="Execute">
                <execute>xterm -e ccmake</execute>
            </action> </item>
            <item label="Glade"> <action name="Execute">
                <execute>glade</execute>
            </action> </item>
            <item label="IDLE (Python IDE)"> <action name="Execute">
                <execute>idle</execute>
            </action> </item>
            <item label="Python"> <action name="Execute">
                <execute>xterm -e python</execute>
            </action> </item>
            <item label="Python (v2.7)"> <action name="Execute">
                <execute>xterm -e python2.7</execute>
            </action> </item>
            <item label="Qt4 Assistant"> <action name="Execute">
                <execute>assistant</execute>
            </action> </item>
            <item label="Qt4 Designer"> <action name="Execute">
                <execute>designer</execute>
            </action> </item>
            <item label="Qt4 Linguist"> <action name="Execute">
                <execute>linguist</execute>
            </action> </item>
            <item label="Qt5 Assistant"> <action name="Execute">
                <execute>assistant-qt5 -qt=5</execute>
            </action> </item>
            <item label="Qt5 Designer"> <action name="Execute">
                <execute>designer-qt5 -qt=5</execute>
            </action> </item>
            <item label="Qt5 Linguist"> <action name="Execute">
                <execute>linguist-qt5 -qt=5</execute>
            </action> </item>
            <item label="Qt5 QDbusViewer"> <action name="Execute">
                <execute>qdbusviewer-qt5</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="Nano"> <action name="Execute">
                <execute>xterm -e nano</execute>
            </action> </item>
            <item label="Vi"> <action name="Execute">
                <execute>xterm -e vi</execute>
            </action> </item>
            <item label="Vim"> <action name="Execute">
                <execute>xterm -e vim</execute>
            </action> </item>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="ALSA mixer"> <action name="Execute">
                <execute>xterm -e alsamixer</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Network">
            <item label="FireFox"> <action name="Execute">
                <execute>firefox</execute>
            </action> </item>
            <item label="FTP"> <action name="Execute">
                <execute>xterm -e ftp</execute>
            </action> </item>
            <item label="Mutt"> <action name="Execute">
                <execute>xterm -e mutt</execute>
            </action> </item>
            <item label="Telnet"> <action name="Execute">
                <execute>xterm -e telnet</execute>
            </action> </item>
            <item label="Thunderbird"> <action name="Execute">
                <execute>thunderbird</execute>
            </action> </item>
            <item label="TkVNC"> <action name="Execute">
                <execute>xterm -e tkvnc</execute>
            </action> </item>
        </menu>
        <menu id="3" label="Office">
            <item label="AbiWord"> <action name="Execute">
                <execute>abiword</execute>
            </action> </item>
            <item label="Gnumeric"> <action name="Execute">
                <execute>gnumeric</execute>
            </action> </item>
            <item label="Zathura"> <action name="Execute">
                <execute>zathura</execute>
            </action> </item>
        </menu>
        <menu id="4" label="Science">
            <item label="bc"> <action name="Execute">
                <execute>xterm -e bc</execute>
            </action> </item>
            <item label="dc"> <action name="Execute">
                <execute>xterm -e dc</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="Dash"> <action name="Execute">
                <execute>xterm -e dash -i</execute>
            </action> </item>
            <item label="GIT"> <action name="Execute">
                <execute>xterm -e git</execute>
            </action> </item>
            <item label="nnn"> <action name="Execute">
                <execute>xterm -e nnn</execute>
            </action> </item>
            <item label="PCMan File Manager"> <action name="Execute">
                <execute>pcmanfm</execute>
            </action> </item>
            <item label="Vifm"> <action name="Execute">
                <execute>xterm -e vifm</execute>
            </action> </item>
            <item label="Xterm"> <action name="Execute">
                <execute>xterm</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <item label="Customize Look and Feel"> <action name="Execute">
                    <execute>lxappearance</execute>
                </action> </item>
                <item label="Desktop Preferences"> <action name="Execute">
                    <execute>pcmanfm --desktop-pref</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
                <item label="Preferred Applications"> <action name="Execute">
                    <execute>libfm-pref-apps</execute>
                </action> </item>
                <item label="Tint2 Settings"> <action name="Execute">
                    <execute>tint2conf</execute>
                </action> </item>
                <item label="Xfontsel"> <action name="Execute">
                    <execute>xfontsel</execute>
                </action> </item>
            </menu>
            <item label="Htop"> <action name="Execute">
                <execute>xterm -e htop</execute>
            </action> </item>
            <item label="jgmenu"> <action name="Execute">
                <execute>jgmenu_run</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>xterm -e pstree</execute>
            </action> </item>
            <item label="Tint2"> <action name="Execute">
                <execute>tint2</execute>
            </action> </item>
            <item label="Top"> <action name="Execute">
                <execute>xterm -e top</execute>
            </action> </item>
            <item label="Xkill"> <action name="Execute">
                <execute>xkill</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="Nextcloud Desktop"> <action name="Execute">
                <execute>nextcloud</execute>
            </action> </item>
            <item label="Redshift"> <action name="Execute">
                <execute>redshift-gtk</execute>
            </action> </item>
            <item label="Xcalc"> <action name="Execute">
                <execute>xcalc</execute>
            </action> </item>
            <item label="Xev"> <action name="Execute">
                <execute>xterm -e xev</execute>
            </action> </item>
            <item label="Xsetroot"> <action name="Execute">
                <execute>xsetroot</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
